body { margin:0; background: #eee; }

.hidden { display: none; }
#searchQuery { width: 500px; }
.newtransform .header { border-bottom: solid 1px #ccc; }
.modalContent { height:600px; overflow-y:scroll; }

.toggleButtons { margin: 10px; }

/* Transform boxes */
.movieBox { padding-top: 50px; }
.movieBox #movie { position:relative; }
.icon.plus {
    font-size:1.2em;
}
.icon.plus:hover {
    text-shadow: 0px 0px 19px #333333;
    cursor: pointer;
}
.node {
    background-color:#E5E4E2;
    position:absolute;
    left:200px;
    border: solid 1px #000;
}
.node:hover {
    box-shadow: 2px 2px 19px #AAAAAA;
    cursor: pointer;
}
.node.state {
    width:60px; height:60px;
    border-width: 3px;
}
.node.data {
    width: 100px; height: 100px;
    border-radius:50px;
}
.node.transform {
    width: 140px; height: 100px;
    border-radius:10px;
}
.leftEnd svg * {fill: #F6B26B;}
.leftEnd:hover {
    box-shadow: 2px 2px 19px #AAAAAA;
}
.rightEnd svg * {fill: #6D9EEB;}
.rightEnd { border-radius:10px; }
.rightEnd:hover {
    box-shadow: 2px 2px 19px #AAAAAA;
    cursor: pointer;
}
/* Header */
header .header {
    display: inline;
}
header .header.orange {
    color:#f6b26b;
}
header .header.headblue {
    color:#6d9eeb;
}

.loadingMsg {
    font-size:2.3em;
    width:455px;
    margin:auto;
}
/* Transform Form */
.transformForm { margin: 25px; }
.transformForm div { margin:10px; }
