body { margin:0; background: #eee; }

.hidden { display: none; }
#searchForm input { width: 500px; }

/* Transform boxes */
.movieBox { padding-top: 50px; }
.movieBox #movie { position:relative; }
.circle {
    width: 100px; height: 100px;
    border-radius:50px;
    background-color:#DDEEFF;
    position:absolute;
    left:200px;
    border: solid 1px #555;
}
.circle:hover {
    box-shadow: 2px 2px 19px #AAAAAA;
    cursor: pointer;
}
.box {
    width: 140px; height: 100px;
    background-color:#DDEEFF;
    border: solid 1px #555;
    border-radius:10px;
    position:absolute;
    left:200px;
}
.box:hover {
    box-shadow: 2px 2px 19px #AAAAAA;
    cursor: pointer;
}
.leftEnd svg * {fill: #FF2E2E;}
.leftEnd:hover {
    box-shadow: 2px 2px 19px #AAAAAA;
}
.rightEnd svg * {fill: #009E1D;}
.rightEnd { border-radius:10px; }
.rightEnd:hover {
    box-shadow: 2px 2px 19px #AAAAAA;
    cursor: pointer;
}
/* Header */
header .header {
    display: inline;
}
header .header.orange {
    color:#f6b26b;
}
header .header.headblue {
    color:#6d9eeb;
}

.loadingMsg {
    font-size:2.3em;
    width:455px;
    margin:auto;
}
