{{define "header"}}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/protoml.css" />
    <title>{{.Title}}</title>
  </head>
  <body>
{{end}}
{{define "footer"}}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="static/raphael-min.js"></script>
  <script type="text/javascript" src="static/arrow.js"></script>
  <script type="text/javascript" src="static/ace.js"></script>
  <script type="text/javascript" src="static/events.js"></script>
  <script type="text/javascript" src="static/protoml.js"></script>
  <script type="text/javascript" src="static/search.js"></script>
  <script type="text/javascript" src="static/lightbox.js"></script>
  <script type="text/javascript" src="static/sprintf.min.js"></script>
</body>
</html>
{{end}}
