{{define "content"}}
{{template "header" .}}
<header>
  <div class="ui fixed inverted menu">
    <div class="item">
      <h5 class="ui header orange">Proto</h5><h5 class="ui header headblue">ML</h5>
    </div>
    <a class="item addtransform" onclick="api.getTransforms()">
      <i class="icon add sign"></i>
       Add Transform
    </a>
    <div class="right menu">
      <a class="item add search">
        <i class="icon search"></i>
        Search
       </a>
    </div>
  </div>
</header>

<div class="movieBox">
  <div id="movie"></div>
</div>

{{template "transformForm"}}
{{template "dataSearch"}}

{{template "footer"}}
{{end}}
